% for task in tasks:
  <tr id="{{ task[0] }}">
    <td>
      <input type="checkbox" onclick="alert('{{ task[0] }}')"
      % if task[0] % 2 == 0:
        checked
      % end
      >
      <span>{{ task[1] }}</span>
    </td>
    <td>
       <button type="button" class="btn btn-sm" onclick="move_task(this, 'up')">↑</button>
       <button type="button" class="btn btn-sm" onclick="move_task(this, 'down')">↓</button>
       <button type="button" class="btn btn-sm" onclick="delete_task(this)">x</button>
    </td>
  </tr>
% end
